#Young-steve-jobs {
   height: 100%;
  width: 100%;
}
p {
  color: white;

}
td {
  color: aqua;
}
h2 {
  color: aqua;
}
table {
  border: 1px;
  width: 100%;
}
h2 {
  color: coral;
  text-align: left;
}