#young-steve-jobs {
  height: 100%;
  width: 100%;
}

p {
  color: white;
  text-align: left;
}

td {
  color: aqua;
}

h2 {
  color: orange;
}

table {
  border: 1px;
  width: 100%;
  border-collapse: collapse;
}

pre {
  color: rgb(253, 141, 100);
  text-align: center;
  font-size: 21px;
  font-family: cursive;
}

sub {
  color: orangered;
  text-align: center;
  font-size: 17px;
  font-family: cursive;
}

a {
  color: white;
  font-family: cursive;
  text-align: left;
}

.macvspc {
  width: 200px;
  height: 200px;
}

.ipad {
  width: 200px;
  height: 200px;
}
